# Configuración de Retell AI (https://dashboard.retellai.com)
RETELL_API_KEY=tu_retell_api_key_aqui

# Tu Agent ID de Retell
RETELL_AGENT_ID=agent_28776daceffa9dfdffdfe9397d

# Tu número comprado/registrado en Retell (Formato internacional, ej: +34910000000 o +1...)
RETELL_FROM_NUMBER=

PORT=80

